@import url(./jquery.mCustomScrollbar.css);
@import url(./font.css);
@import url(./normalize.css);

html {
    background-color: #555;
}

body {
    font-family: Nanum Barun Gothic;
    cursor: default;
    overflow: hidden;
    position: absolute;
    width: 1280px;
    height: 720px;
}

/* start content */
.content {
    width: 100%;
    height: 100%;
    /* background: url(../images/common/back.png) no-repeat; */
    background-size: contain;
    background-position: center;
    background-size: cover;
}

.content div {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.content .scrownPlayer {
    width: 100%;
    height: 100%;
    /* background: black; */
}

.content .scrownPlayer .scrownMedia {
    /* top: 125.5px; */
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.content .scrownPlayer.fullscreen .scrownMedia {
    padding-bottom: 0px;
    width: 100%;
    height: 100%;
}

/* 
2023.02.22 사제동행 
콘텐츠 사이즈 상단 / 하단과 겹치지 않고 보이도록 수정
*/
.content .scrownPlayer.scrownPlayer.fullscreen .scrownMedia .scrownVideo {
    width: 100%;
    height: 100%;
}

/* 
2023.02.22 사제동행 
콘텐츠 상단에 겹치지 않도록
*/
.content .scrownPlayer.scrownPlayer:not(.fullscreen) .scrownMedia .scrownVideo {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    position: relative;
}

/* 
2023.02.22 사제동행 
mainTitle 안보이도록 - 필요하면 풀고 subTextRows 부분 수정 && font-size: 1.2rem; && menuContainer style 삭제
*/
.tMenuBtn {
    /* display: none !important; */
}

.content .scrownPlayer .st-playBox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 700;
    cursor: pointer;
    display: none;
    /*
  background: url(../images/stPlayer/st-loading.gif) no-repeat center center white;
  background: rgba(0, 0, 0, 0.5);
  */
}

.content .scrownPlayer .centerPnNBox {
    display: none;
}

.content .scrownPlayer .centerPnNBox .centerBtn div {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 8%;
    height: 12%;
    cursor: pointer;
}

.content .scrownPlayer .centerPnNBox .centerBtn .goPrev {
    background: url(../images/stPlayer/centerPrev.png) no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    z-index: 501;
}

.content .scrownPlayer .centerPnNBox .centerBtn .goNext {
    background: url(../images/stPlayer/centerNext.png) no-repeat;
    background-size: contain;
    background-position: center;
    right: 0;
    z-index: 501;
}

.content .scrownPlayer .centerPnNBox .centerPlay {
    width: 100%;
    height: 100%;
    background: url(../images/stPlayer/centerPlay.png) no-repeat center center rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 500;
    cursor: pointer;
}

.content .scrownPlayer .st-play {
    margin: 0 auto;
    width: 240px;
    height: 240px;
    background: url(../images/stPlayer/play.png) no-repeat;
    background-position: 0px 0px;
    position: absolute;
    box-sizing: border-box;
    /*
  display: flex;
  justify-content: center;
  align-items: center;
  */
    top: 50%;
    margin-top: -140px;
    left: 50%;
    margin-left: -120px;
}

.content .scrownPlayer .st-loading {
    width: 100%;
    height: 100%;
    background: url(../images/stPlayer/st-loading.gif) no-repeat center center white;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 800;
}

.content .scrownPlayer.fullscreen .st-activity {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0px;
    z-index: 900;
}

.content .scrownPlayer .titleTopBox {
    position: absolute;
    width: 100%;
    height: 30px;
    background: #453a39;
    position: absolute;
    z-index: 1000;
    top: 0px;
    color: white;
    line-height: 30px;
}
.content .scrownPlayer .titleTopBox .chasiText {
    float: left;
    padding-left: 8px;
    font-family: 'Gong GothicM';
    font-size: 20px;
}
/* 
2023.02.22 사제동행 
강의 콘텐츠 - 프로토 나오는 부분
되돌리려면 font-family:'Gong GothicB';
*/
.content .scrownPlayer .titleTopBox .courseTExt {
    float: right;
    padding-right: 8px;
    font-family: 'Gong GothicM';
    font-size: 20px;
}

.content .scrownPlayer .scrownControls {
    position: absolute;
    width: 100%;
    /* width: 1280px; */
    height: 40px;

    background: #ebecf0;
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    color: white;
    line-height: 43px;
    /* line-height: 40px; */
}

.content .scrownPlayer .scrownControlUp {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 24px;
    /* background: #fbfbfc; */
}

/* .content .scrownPlayer .scrownControls .progress-bar {
  display: block;
  width: 100%;
  height: 10px;
  margin-top: -5px;
  background: #8a8a8a;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  
  -webkit-transition: height 1.0s, ease-in-out 0.5s;
     -moz-transition: height 1.0s, ease-in-out 0.5s;
      -ms-transition: height 1.0s, ease-in-out 0.5s;
       -o-transition: height 1.0s, ease-in-out 0.5s;
          transition: height 1.0s, ease-in-out 0.5s;
  
  -webkit-transition: margin-top 1.0s, ease-in-out 0.5s;
     -moz-transition: margin-top 1.0s, ease-in-out 0.5s;
      -ms-transition: margin-top 1.0s, ease-in-out 0.5s;
       -o-transition: margin-top 1.0s, ease-in-out 0.5s;
          transition: margin-top 1.0s, ease-in-out 0.5s;
} */

.content .scrownPlayer .scrownControls .progress-bar {
    display: inline-block;
    width: 20%;
    height: 10px;
    margin-top: 15px;
    background: #8a8a8a;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    /* left: 380px; */
    left: 310px;

    -webkit-transition: height 1s, ease-in-out 0.5s;
    -moz-transition: height 1s, ease-in-out 0.5s;
    -ms-transition: height 1s, ease-in-out 0.5s;
    -o-transition: height 1s, ease-in-out 0.5s;
    transition: height 1s, ease-in-out 0.5s;

    -webkit-transition: margin-top 1s, ease-in-out 0.5s;
    -moz-transition: margin-top 1s, ease-in-out 0.5s;
    -ms-transition: margin-top 1s, ease-in-out 0.5s;
    -o-transition: margin-top 1s, ease-in-out 0.5s;
    transition: margin-top 1s, ease-in-out 0.5s;
}

.content .scrownPlayer .scrownControls .progress-bar.unclick {
    pointer-events: none;
}
/*
.content .scrownPlayer .scrownControls:hover .progress-bar {
  height: 14px;
  margin-top: -12px;
  
  -webkit-transition: height 1.0s, ease-in-out 0.5s;
     -moz-transition: height 1.0s, ease-in-out 0.5s;
      -ms-transition: height 1.0s, ease-in-out 0.5s;
       -o-transition: height 1.0s, ease-in-out 0.5s;
          transition: height 1.0s, ease-in-out 0.5s;
  
  -webkit-transition: margin-top 1.0s, ease-in-out 0.5s;
     -moz-transition: margin-top 1.0s, ease-in-out 0.5s;
      -ms-transition: margin-top 1.0s, ease-in-out 0.5s;
       -o-transition: margin-top 1.0s, ease-in-out 0.5s;
          transition: margin-top 1.0s, ease-in-out 0.5s;
}
*/

.content .scrownPlayer .scrownControls .progress-bar > .progress-range {
    background: #151b46;
    width: 0px;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.content .scrownPlayer .scrownControls .progress-bar > .progress-range > .progress-handle {
    float: right;
    width: 20px;
    height: 100%;
    margin-right: -10px;
    cursor: pointer;

    /*background: red;*/
}

.content .scrownPlayer .scrownControls .button {
    width: 37px;
    /* height: 35px; */
    height: 40px;
    cursor: pointer;
    position: relative;
}

.content .scrownPlayer .scrownControls .leftBtnBox .logo {
    width: 160px;
    height: 35px;
    cursor: pointer;
    position: relative;
    background: url(../images/stPlayer/logo.png) no-repeat center;
    background-size: contain;
}

.content .scrownPlayer .scrownControls .leftBtnBox {
    position: absolute;
    top: 0px;
    left: 0px;
    /*line-height: 40px;*/
}

.content .scrownPlayer .scrownControls .leftBtnBox .button,
.content .scrownPlayer .scrownControls .leftBtnBox .logo {
    float: left;
    margin-left: 0px;
    /* margin-top: 5px; */
}

.content .scrownPlayer .scrownControls .rightBtnBox {
    position: absolute;
    top: 0px;
    right: 0px;
    /*line-height: 40px;*/
}

.content .scrownPlayer .scrownControls .rightBtnBox .button {
    float: left;
    /*margin-right: 12px;*/
    /* margin-top: 5px; */
    /* margin-top: 2px; */
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.content .scrownPlayer .scrownControls .rightBtnBox .volumeBox {
    float: left;
    margin-right: 12px;
}

.content .scrownPlayer .scrownControls .rightBtnBox .pageBox {
    float: left;
    font-size: 16px;
    letter-spacing: -0.5px;
    margin-right: 0px;
}

.content .scrownPlayer .scrownControls #menuToggleBtn {
    /* background: url(../images/stPlayer/menuToggleBtn.png) no-repeat; */
    font-family: 'NanumSquareExtraBold';
    margin-right: 8px;
    width: 180px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: #151b46;
    color: #f6f6f6;
}

.content .scrownPlayer .scrownControls #menuToggleBtn:hover {
    color: rgb(255, 180, 64);
    /* background-color: #17c1dd; */
}

.content .scrownPlayer .scrownControls #menuToggleBtn.on {
    color: rgb(255, 180, 64);
    /* background-color: #17c1dd; */
}

.content .scrownPlayer .scrownControls #menuToggleBtn.on:hover {
    /* color: #070000; */
    /* background-color: #f6f6f6; */
}

.content .scrownPlayer .scrownControls #playBtn {
    background: url(../images/stPlayer/playBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #playBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #pauseBtn {
    background: url(../images/stPlayer/pauseBtn.png) no-repeat;
    background-position: center;
    display: none;
}

.content .scrownPlayer .scrownControls #pauseBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #replayBtn {
    background: url(../images/stPlayer/replayBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #replayBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #scriptBtn {
    display: none;

    background: url(../images/stPlayer/scriptBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #scriptBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #scriptBtn.on {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #scriptBtn.on:hover {
    background: url(../images/stPlayer/scriptBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #guideBtn {
    /* display: none; */

    background: url(../images/stPlayer/guideBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #guideBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #guideBtn.on {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #guideBtn.on:hover {
    background: url(../images/stPlayer/guideBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #mapBtn {
    background: url(../images/stPlayer/mapBtn.png) no-repeat;
    background-position: center;
}
.content .scrownPlayer .scrownControls #mapBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #downBtn {
    background: url(../images/stPlayer/downBtn.png) no-repeat;
    background-position: center;
}

.content .scrownPlayer .scrownControls #downBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls .timeBox {
    float: left;
    /* margin-left: 12px; */
    margin-left: 600px;
    /* margin-top: 5px; */
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #2f3152;
}
.content .scrownPlayer .scrownControls .timeBox .timeCurrent {
    margin: 0px;
}

.content .scrownPlayer .scrownControls .timeBox .timeSep {
    margin: 0px 3px;
}

.content .scrownPlayer .scrownControls .timeBox .timeDuration {
    margin: 0px;
}

.content .scrownPlayer .scrownControls #mute {
    width: 40px;
    background: url(../images/stPlayer/mute.png) no-repeat;
    background-position: 1px 3px;
}

.content .scrownPlayer .scrownControls #mute:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #unmute {
    width: 40px;
    background: url(../images/stPlayer/unmute.png) no-repeat;
    background-position: 1px 3px;
}

.content .scrownPlayer .scrownControls #unmute:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls .volume-bar {
    width: 60px;
    height: 6px;
    margin-top: 3px;
    background: #8a8a8a;
    position: relative;
    cursor: pointer;
    top: 15px;
    margin-left: 2px;
    float: right;
}

.content .scrownPlayer .scrownControls .volume-bar > .volume-range {
    background: #151b46;
    width: 0px;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.content .scrownPlayer .scrownControls .volume-bar > .volume-range > .volume-handle {
    float: right;
    width: 12px;
    height: 15px;
    margin-right: -6px;
    margin-top: -5px;
    /*border-radius: 100%;
  border: 1px solid #fff;*/
    background: url(../images/stPlayer/volHanddle.png) no-repeat;
    cursor: pointer;
}

.content .scrownPlayer .scrownControls #fullscreen {
    margin-right: 2px;
    background: url(../images/stPlayer/fullscreen.png) no-repeat;
    background-position: 1px 3px;
}

.content .scrownPlayer .scrownControls #fullscreen:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #exitfullscreen {
    background: url(../images/stPlayer/exitfullscreen.png) no-repeat;
    background-position: 1px 3px;
}

.content .scrownPlayer .scrownControls #exitfullscreen:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls #prevBtn {
    background: url(../images/stPlayer/prevBtn.png) no-repeat;
    margin-right: 5px;
    background-position: 1px 3px;
}

.content .scrownPlayer .scrownControls #prevBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.content .scrownPlayer .scrownControls .page {
    position: relative;
    float: left;
    /* margin-top: 4px; */
    color: #2f3152;
}

.content .scrownPlayer .scrownControls .page div {
    margin: 0px 1px;
}

.content .scrownPlayer .scrownControls .page .pageCurrent {
    font-weight: bold;
}

.content .scrownPlayer .scrownControls #nextBtn {
    background: url(../images/stPlayer/nextBtn.png) no-repeat;
    background-position: 1px 3px;
    margin-left: 5px;
}

.content .scrownPlayer .scrownControls #nextBtn:hover {
    /* background-color: #17c1dd; */
    background-color: #7eb8ed;
}

.st-fade-out {
    display: block;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: visibility 0.2s, opacity 0.2s;
    -moz-transition: visibility 0.2s, opacity 0.2s;
    -ms-transition: visibility 0.2s, opacity 0.2s;
    -o-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;
}

.scrownPlayer > .end-bubble {
    position: absolute;
    bottom: 30px;
    right: 5px;
    width: 152px;
    height: 77px;
    cursor: pointer;
    display: none;
    z-index: 700;
    background: url(../images/stPlayer/icon_bubble.png) no-repeat;
    background-size: contain;
    z-index: 20;
}

.scrownPlayer > .end-bubble.complete {
    background: url(../images/stPlayer/icon_bubble_complete.png) no-repeat;
    background-size: contain;
}

.scrownPlayer > .end-bubble.view {
    display: block;
}

/* 스크립트 영역 */
.scriptObj {
    display: none;
    position: absolute;
    bottom: -150px;
    left: 0px;
    width: 100%;
    height: 100px;
    transition: bottom 0.5s;
    z-index: 900;
}
.scriptObj.on {
    bottom: 0px;
    transition: bottom 0.5s;
}
.scriptObj.nomalScript.on {
    bottom: 15px;
    transition: bottom 0.5s;
}
.scriptObj .script {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #333333;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-sizing: border-box;
    z-index: 30;
}
.scriptObj .script .scriptText {
    position: relative;
    height: 50px;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #ffffff;
    /*text-align: justify;*/
    word-break: keep-all;
}

.scriptObj .script #scrollTextBox {
    word-break: keep-all;
    word-wrap: break-word;
    text-align: center;
}

.scriptObj .script #scriptCloseBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    /*background: url('../images/common/scriptClose.png') no-repeat;*/
    background-size: contain;
    cursor: pointer;
    display: none;
}

/* 메뉴 영역 */
.menuObj {
    position: absolute;
    /* top: 30px; */
    bottom: 0px;
    left: -50%;
    transition: left 0.5s;
    /* width: 30%; */
    width: 20%;
    /* height: 100%; */
    height: 100%%;
    /*	background: url('../images/menu/bg_menu.png') no-repeat;*/
    background-size: contain;
    background-color: #ebecf0;
    /* background-color:rgba(0, 0, 0, 0.8); */
    z-index: 1000;
    display: none;
}
.helpObj {
    position: absolute;
    transition: left 0.5s;
    width: 100%;
    /* height: 100%; */
    height: 720px;
    /*	background: url('../images/menu/bg_menu.png') no-repeat;*/
    background-size: contain;
    background-color: #ebecf0;
    z-index: 1000;
    display: none;
}

.bookmkObj {
    position: absolute;
    transition: left 0.5s;
    width: 100%;
    /* height: 100%; */
    height: 100px;
    /*	background: url('../images/menu/bg_menu.png') no-repeat;*/
    background-size: contain;
    background-color: #ebecf0;
    z-index: 501;
    display: none;
}

.bookmk {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 80px;
}

.subBookmkMenu {
    color: #37342f;
}

.bookmkObj .sbookmkMenu {
    position: relative;
    box-sizing: border-box;
    /* padding: 2px 8px; */
    padding: 0px 0px;
    /* margin: 0px 10px 3px 10px; */
    margin: 0px 10px 7px -7px;
    cursor: pointer;
    text-align: left;
    display: block;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.bookmkObj .sbookmkMenu.active {
    color: #41d3dd;
}

/*
#bookmkBtn {
  width: 40px;
  height: 90px;
  background-color: #151b46;
  position: absolute;
  right: -62px;
  text-align: center;
  font-size: 27px;
  padding: 5px;
  cursor: pointer;
  color: #ebecf0;
  z-index: 501;
}*/

.menuObj.view {
    display: block;
    left: 0px;
    transition: left 0.5s;
}
.helpObj.view {
    display: block;
    left: 0px;
    transition: left 0.5s;
    top: 0px;
}

.bookmkObj.view {
    display: block;
    left: 0px;
    transition: left 0.5s;
    top: 0px;
}

.menuObj .menuBox {
    float: left;
    margin-bottom: 5px;
    width: 100%;
    height: 400px;
}
.helpObj .menuBox {
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

#menuBox_1 {
    /* margin-top: 30px; */
}

.menuObj .tMenuBtn {
    position: relative;
    box-sizing: border-box;
    padding: 6px 8px;
    margin: 0px 10px 3px 10px;
    cursor: pointer;
    font-weight: bold;

    background-color: #efefef;
    display: block;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.helpObj .tMenuBtn {
    position: relative;
    box-sizing: border-box;
    padding: 6px 8px;
    margin: 0px 10px 3px 10px;
    cursor: pointer;
    font-weight: bold;

    background-color: #efefef;
    display: block;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.menuObj .tMenuBtn.active {
    background-color: #0076bf;
}
.helpObj .tMenuBtn.active {
    background-color: #0076bf;
}

.menuObj .sMenuBtn {
    position: relative;
    box-sizing: border-box;
    /* padding: 2px 8px; */
    padding: 0px 0px;
    /* margin: 0px 10px 3px 10px; */
    margin: 0px 10px 3px -7px;
    cursor: pointer;
    text-align: left;
    display: block;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.helpObj .sMenuBtn {
    position: relative;
    box-sizing: border-box;
    /* padding: 2px 8px; */
    padding: 0px 0px;
    /* margin: 0px 10px 3px 10px; */
    margin: 0px 10px 3px -7px;
    cursor: pointer;
    text-align: left;
    display: block;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.menuObj .sMenuBtn.active {
    /*background-color: #8b9699;*/
}
.helpObj .sMenuBtn.active {
    /*background-color: #8b9699;*/
}

.menuObj .dot {
    width: 6px;
    height: 6px;
    vertical-align: top;
    margin-top: 2px;
    /*background: url('../images/menu/dot.png') no-repeat;*/
    background-size: contain;
}
.helpObj .dot {
    width: 6px;
    height: 6px;
    vertical-align: top;
    margin-top: 2px;
    /*background: url('../images/menu/dot.png') no-repeat;*/
    background-size: contain;
}

/* 
2023.02.22 사제동행 
mainTitle 안보이도록 - 필요하면 풀고 subTextRows 부분 수정 && font-size: 1.2rem; && menuContainer style 삭제
*/
.menuObj .subText {
    font-weight: normal;
    font-size: 1.35rem;
    margin-left: 10px;
    color: #37342f;
    line-height: 3.5rem;
    text-align: left;
    letter-spacing: 2px;
    word-break: keep-all;
    word-wrap: break-word;
}
.helpObj .subText {
    font-weight: normal;
    font-size: 1.35rem;
    margin-left: 10px;
    color: #37342f;
    line-height: 3.5rem;
    text-align: left;
    letter-spacing: 2px;
    word-break: keep-all;
    word-wrap: break-word;
}

.subTextRows {
    margin-right: 20px;
}

.menuObj .subText.mobile {
    font-size: 0.7rem;
    line-height: 0.7rem;
}
.helpObj .subText.mobile {
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.menuObj .tMenuBtn .subText.mobile {
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.helpObj .tMenuBtn .subText.mobile {
    font-size: 0.8rem;
    line-height: 0.8rem;
}

.menuObj .tMenuBtn .subText {
    font-size: 1.6rem;
    color: #000;
}
.helpObj .tMenuBtn .subText {
    font-size: 1.6rem;
    color: #000;
}

.menuObj .tMenuBtn.active .subText {
    color: #37342f;
}
.helpObj .tMenuBtn.active .subText {
    color: #37342f;
}

.menuObj .sMenuBtn.active .subText {
    color: #37342f;
    font-weight: bold;
}
.helpObj .sMenuBtn.active .subText {
    color: #37342f;
    font-weight: bold;
}

/* style="margin-top: 7%; font-size: 36px; " */
#helpmenuContainer {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #ebecf0;
}

.helpList {
    height: 100%;
    width: 154px;
    /* width: 200px; */
    /* width: 15%; */
    float: left;
    margin-top: 64px;
}
.help_1 {
    background: url(../images/common/help_learning.png) center center no-repeat;
    background-size: contain;
    height: 100px;
    width: inherit;
    /* top: 16%;
  position: absolute; */
    cursor: pointer;
}
.help_2 {
    background: url(../images/common/help_playerintro.png) center center no-repeat;
    background-size: contain;
    height: 100px;
    width: inherit;
    /* top: 40%;
  position: absolute; */
    cursor: pointer;
}
.help_3 {
    background: url(../images/common/help_teacherintro.png) center center no-repeat;
    background-size: contain;
    height: 100px;
    width: inherit;
    /* top: 64%;
  position: absolute; */
    cursor: pointer;
}

.help_1:hover {
    background: url(../images/common/help_learning_on.png) center center no-repeat;
    background-size: contain;
}
.help_2:hover {
    background: url(../images/common/help_playerintro_on.png) center center no-repeat;
    background-size: contain;
}
.help_3:hover {
    background: url(../images/common/help_teacherintro_on.png) center center no-repeat;
    background-size: contain;
}

.helpContents {
    /* background-color: #151b46; */
    background-color: #ebecf0;
    height: 100%;
    width: 1126px;
    float: right;
}
/* 강사소개 */
.helpteacher1 {
    background: url(../images/common/help_teacher1.png) 40% 40% no-repeat;
    /* background-size: contain; */
    background-size: 87%;
}

/* 러닝맵 */
.helplearning {
    background: url(../images/common/help_map.png) 40% 50% no-repeat;
    /* background-size: contain; */
    /* background-size: 85%; */
    background-size: 957px 612px;
}
/* 화면안내 */
.helpplayer {
    background: url(../images/common/help_player.png) 40% 50% no-repeat;
    /* background-size: contain; */
    background-size: 88%;
}

.helpCourseName {
    display: none;
    background: url(../images/common/help_player_coursename.png) no-repeat;
    background-size: contain;
    background-position: center;
    top: 80px;
    left: 920px;
    z-index: 501;
    position: relative;
    width: 118px;
    height: 54px;
}

.goHelpPrev {
    display: none;
    background: url(../images/stPlayer/centerPrev.png) no-repeat;
    background-size: contain;
    background-position: center;
    top: 310px;
    z-index: 501;
    position: relative;
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.goHelpNext {
    display: none;
    background: url(../images/stPlayer/centerNext.png) no-repeat;
    background-size: contain;
    background-position: center;
    top: 226px;
    z-index: 501;
    position: relative;
    width: 85px;
    height: 85px;
    left: 1016px;
    cursor: pointer;
}

#menuXBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -40px;
    width: 40px;
    height: 40px;
    background: url('../images/stPlayer/btn_menu_close.png') no-repeat;
    background-color: white;
    background-size: contain;
    cursor: pointer;
}
#helpmenuXBtn {
    /* display: none; */
    position: absolute;
    top: 10px;
    right: 10px;
    /* margin-right: -40px; */
    width: 40px;
    height: 40px;
    /* background: url('../images/stPlayer/btn_menu_close.png') no-repeat;
	background-color:black;
  background-size: contain; */
    cursor: pointer;
}

.menuEmphasisText {
}

/*상단 텍스트*/
#titleBox {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#titleBox.videoType {
    width: 1024px;
    height: 576px;
    pointer-events: none;
}

#titleBox .titleBoxBg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 576px;
    visibility: hidden;
}

#titleBox .titleText {
    text-align: left;
    font-family: GmarketSansBold;
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff,
        1px -1px 0 #fff, -1px 1px 0 #fff;
}

#titleBox .mainTitleBox {
    display: block;
    height: 45px;
    position: relative;
}
#titleBox .mainTitleBox .mainTitleIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 42px;
    height: 43px;
    line-height: 49px;
    background: url(../images/common/mainTitle.png) no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 4px;
    text-align: center;
}
#titleBox .mainTitleBox .mainTitleText {
    position: absolute;
    top: 13px;
    left: 46px;
    font-size: 24px;
    width: 900px;
}

#titleBox .subTitleBox {
    display: block;
    position: relative;
}
#titleBox .subTitleBox .subTitleIcon {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    border: 2px solid #2186ff;
    background-color: #fff;
}
#titleBox .subTitleBox .subTitleText {
    position: absolute;
    top: 0px;
    left: 64px;

    font-size: 20px;
    width: 900px;
}

/*배속*/
.content .scrownPlayer .scrownControls .rate {
    color: #333333;
    width: 38px;
    height: 24px;
    background: url(../images/common/view_icon.png) center center no-repeat;
    /* background:url(../images/common/view_icon.png) 0px -24px no-repeat; */
    padding: 0px 0 0 0px;
    text-align: center;
    line-height: 28px;

    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    cursor: pointer;
    display: none;
}

.player_rate.off .rate.on {
    color: #333333;
    background: url(../images/common/view_icon.png) 0px 0px no-repeat;
}

.player_rate.on .rate.on {
    color: #3199f7;
    background: url(../images/common/view_icon.png) 0px -24px no-repeat;
}

.player_rate_over {
    display: none;
    position: absolute;
    bottom: -5px;
    width: 45px;
    height: 131px;
    z-index: 1000;
    overflow: hidden;
    margin: -69px 0 0 0;
}
.player_rate_over.off {
    display: none;
}
.player_rate_over.on {
    display: block;
    background: url(../images/common/view_icon6.png) 0 0 repeat-y;
}

.player_rate_over ul {
    list-style: none;
    margin: 5px 0 0 00;
    padding: 0px;

    color: #fff;

    font-size: 0.75em;
    font-weight: normal;

    cursor: pointer;
    text-align: center;
}
.player_rate_over ul li {
    padding: 2px 0px;
    opacity: 1;
    line-height: 15px;
}
.player_rate_over ul li:hover,
.player_rate_over ul li:focus {
    font-weight: normal;
    color: #3199f7;
    opacity: 1;
}

/* .content .scrownPlayer .scrownControls .player_rate-dummy {
    float: left;
	width:45px;
	height:22px;
	margin: 0px 0 0 0;
    background:none;
    backface-visibility: hidden;
	
} */
.content .scrownPlayer .scrownControls .player_rate-dummy {
    width: 45px;
    height: 22px;
    margin: 8px 0 0 12px;
    background: none;
    position: relative;
    /*
    top:8px;
    left: -41px; 
    */
    float: left;
    backface-visibility: hidden;
}

.content .scrownPlayer .scrownControls .player_rate {
    position: relative;
    padding: 0;
    top: 0px;
    margin-left: 0px;
    display: block;
}

.player_rate-dummy2 {
    position: absolute;
    top: 0;
    left: 4px;
    height: 25px;
    overflow: hidden;
    z-index: 1009;
}

/* */
#loadActFrame {
    width: 1280px;
    height: 720px;
}

#htmlContents {
    font-family: Nanum Barun Gothic;
    position: absolute;
    top: 30px !important;
    left: 0px;
    width: 1280px;
    height: 720px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    letter-spacing: -1px;
}

/* @media all and (max-width: 0) {
    .content .scrownPlayer .scrownControls {
        bottom: 0px;
    }
    .content .scrownPlayer .scrownControls .player_rate-dummy {
        display: none;
    }
    .content .scrownPlayer .scrownControls #fullscreen {
        margin-left: -1000px;
    }
    .content .scrownPlayer .scrownControls #prevBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #menuToggleBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #replayBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #nextBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #downBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #scriptBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #guideBtn {
        display: none;
    }
    .content .scrownPlayer .scrownControls #playBtn {
        margin-left: -500px;
    }
    .content .scrownPlayer .scrownControls #pauseBtn {
        margin-left: -500px;
    }
    .content .scrownPlayer .scrownControls .rightBtnBox .volumeBox {
        margin-left: -1000px;
    }
    .scrownPlayer > .end-bubble {
        right: -10px;
        transform: scale(0.8);
        background: url(../images/stPlayer/icon_bubble.png) no-repeat;
    }
    .scrownPlayer > .end-bubble.complete {
        background: url(../images/stPlayer/icon_bubble_complete.png) no-repeat;
    }
    .content .scrownPlayer .scrownControls .page {
        right: 20px;
    }
}

@media all and (min-width: 1001px) {
    .content .scrownPlayer .scrownControls {
        bottom: 0px;
    }
} */
